body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#video {
  position: fixed;
  margin: -70px 0;
  width: 100%;
  z-index: -1;
  filter: blur(4px);
}

img {
  max-width: 200px;
  display: inherit;
  transition: max-width .3s ease;
}

img:hover {
  max-width: 1000px;
}

.wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 40vw;
  min-width: 400px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .8);
}

li {
  margin: 0 0 10px 0;
}

li > span:first-child {
  display: block;
  margin: 10px 0;
}

.section .header {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

ul, ol {
  margin: 0 0 45px 0;
}